{{ template "display.html" . }}

{{- define "innercontentmore" }} class="scrollable"{{- end -}}

{{- define "infoleft" -}}
    <div id="editform">
        <form id="reply" action="{{ .SitePath }}upload" method="post">
            <div class="info-flex">
                <div>
                    {{- if not .ForceRandom -}}
                    <input class="codebox" name="filename" id="filename" type="text" value="" placeholder="filename">
                    {{- end -}}.
                    <input id="extension" class="codebox" name="extension" type="text" value="{{ .Extra.Extension }}" placeholder="txt">
                </div>
                <div class="info-actions">
                    <select id="expiry" name="expires">
                        <option disabled>Expires:</option>
                        {{- range $i, $expiry := .ExpiryList -}}
                        <option value="{{ $expiry.Seconds }}" {{- if eq $i (sub (len $.ExpiryList) 1) }} selected{{ end }}>
                            {{- $expiry.Human -}}
                        </option>
                        {{- end -}}
                    </select>
                    <button type="submit" id="save">Save</button>
                </div>
            </div>
            <textarea name="content" id="newcontent" class="editor"></textarea>
        </form>
    </div>
{{- end -}}

{{- define "infomore" }}
<label>wrap <input id="wordwrap" type="checkbox" checked></label> |
{{ end -}}

{{- define "main" -}}
<div id="normal-content" class="normal fixed">
    <pre id="normal-code"><code id="codeb" data-language="{{ .Extra.LangHL }}" class="language-{{ .Extra.LangHL }}">{{ .Extra.Contents }}</code></pre>
    <textarea id="inplace-editor" class="editor">{{ .Extra.Contents }}</textarea>
</div>

{{- .Manifest.PreloadJS .SitePath (printf "node_modules/highlight.js/es/languages/%s.js" .Extra.LangHL) -}}
{{- end -}}
