<!DOCTYPE html>
<html>

<head>
	<title>{{ block "title" . }}{{ .SiteName }}{{ end }}</title>
	<meta charset="utf-8" content="text/html" http-equiv="content-type">
	<meta name="viewport" content="width=device-width, initial-scale=0.8">
	<link href="{{ .SitePath }}static/css/linx.css?v=1" media="screen, projection" rel="stylesheet" type="text/css">
	<link href="{{ .SitePath }}static/css/hint.css" rel="stylesheet" type="text/css">
	<link href="{{ .SitePath }}static/images/favicon.gif" rel="icon" type="image/gif">
	{{- block "head" . }}{{ end -}}
</head>

<body>
	<div id="container_container">
		<div id="container">
			<div id="header">
				<div id="navigation" class="right">
					{{- if ne .Auth "header" -}}
					<a href="{{ .SitePath }}">Upload</a> |
					<a href="{{ .SitePath }}paste">Paste</a> |
					{{ end -}}
					<a href="{{ .SitePath }}API">API</a>
					{{- range $path, $name := .CustomPagesNames }}
					| <a href="{{ .SitePath }}{{ $path }}/">{{ $name }}</a>
					{{- end -}}
				</div>
				<h2><a href="{{ .SitePath }}" title="{{ .SiteName }}">{{ .SiteName }}</a></h2>
			</div>

			{{- block "content" . }}{{ end -}}

			<div id="footer">
				<a href="https://github.com/gabe565/linx-server">linx-server</a>
			</div>

		</div>
	</div>
</body>

</html>
