<!DOCTYPE html>
<html>

<head>
  <title>{{ block "title" . }}{{ .SiteName }}{{ end }}</title>
  <meta charset="utf-8" content="text/html" http-equiv="content-type">
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
  {{- .Manifest.ImportCSS .SitePath "src/main.js" -}}
  <link href="{{ .SitePath }}favicon.ico" rel="icon" type="image/gif">
  {{- block "head" . }}{{ end -}}
</head>

<body>
<div id="container">
  <div id="header">
    <h2><a href="{{ .SitePath }}" title="{{ .SiteName }}">{{ .SiteName }}</a></h2>
    <ul id="navigation">
      {{- if ne .Auth "header" -}}
      <li><a href="{{ .SitePath }}">Upload</a></li>
      <li><a href="{{ .SitePath }}paste">Paste</a></li>
      {{- end -}}
      <li><a href="{{ .SitePath }}api">API</a></li>
      {{- range $path, $name := .CustomPagesNames -}}
      <li><a href="{{ $.SitePath }}{{ $path }}/">{{ $name }}</a></li>
      {{- end -}}
    </ul>
  </div>

  {{- block "content" . }}{{ end -}}

  <div id="footer">
    <a href="https://github.com/gabe565/linx-server">linx-server</a>
  </div>

</div>

{{- .Manifest.ImportJS .SitePath "src/main.js" -}}
</body>

</html>
