{{ template "base.html" . }}

{{- define "title" -}}
  {{ .SiteName }} - Paste
{{- end -}}

{{- define "content" -}}
<form id="reply" action="{{ .SitePath }}upload" method="post">
    <div id="main" class="paste">
        <div id="info" class="info-flex">
            <div>
                {{- if not .ForceRandom -}}
                <span class="hint--top hint--bounce"
                    data-hint="Leave empty for random filename"><input class="codebox" name="filename" id="filename"
                        type="text" value="" placeholder="filename" /></span>
                {{- end -}}.<span
                    class="hint--top hint--bounce" data-hint="Enable syntax highlighting by adding the extension"><input
                        id="extension" class="codebox" name="extension" type="text" value="" placeholder="txt" /></span>
            </div>
            <div>
                <span class="hint--top hint--bounce" data-hint="Require password to access (leave empty to disable)">
                    <input class="codebox" name="access_key" type="text" placeholder="password" />
                </span>

                <select id="expiry" name="expires">
                    <option disabled>Expires:</option>
                    {{- range $i, $expiry := .ExpiryList -}}
                    <option value="{{ $expiry.Seconds }}" {{- if eq $i (sub (len $.ExpiryList) 1) }} selected{{ end }}>
                        {{- $expiry.Human -}}
                    </option>
                    {{- end -}}
                </select>
                <button type="submit">Paste</button>
            </div>
        </div>

        <div id="inner_content" class="padme">
            <textarea name="content" id="content" class="editor"></textarea>
        </div>
    </div>
</form>

<script src="{{ .SitePath }}static/js/util.js"></script>
<script src="{{ .SitePath }}static/js/paste.js"></script>
{{- end -}}
